<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load staticfiles %}

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



</head>
<body>
<form method="POST" class="post" action="/shop">
    {% csrf_token %}
    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3>Enter Details</h3>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">SHOP ID:</label>
            <div class="col-sm-4">
                {{ form.eid}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Shop Name:</label>
            <div class="col-sm-4">
                {{ form.name }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Enter your last name:</label>
            <div class="col-sm-4">
                {{ form.lastname}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Shop Email:</label>
            <div class="col-sm-4">
                {{ form.Email }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">shop Contact:</label>
            <div class="col-sm-4">
                {{ form.contact }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>